.lng00 { padding-left:18px;}
.lngen { padding-left:18px; background:transparent url('flags/us.gif') 0 50% no-repeat;}
.lnguk { padding-left:18px; background:transparent url('flags/gb.gif') 0 50% no-repeat;}
.lngbg { padding-left:18px; background:transparent url('flags/bg.gif') 0 50% no-repeat;}
.lnges { padding-left:18px; background:transparent url('flags/es.gif') 0 50% no-repeat;}
.lngru { padding-left:18px; background:transparent url('flags/ru.gif') 0 50% no-repeat;}
.lngtr { padding-left:18px; background:transparent url('flags/tr.gif') 0 50% no-repeat;}
.lngro { padding-left:18px; background:transparent url('flags/ro.gif') 0 50% no-repeat;}
.lngfr { padding-left:18px; background:transparent url('flags/fr.gif') 0 50% no-repeat;}
.lngde { padding-left:18px; background:transparent url('flags/de.gif') 0 50% no-repeat;}
.lngit { padding-left:18px; background:transparent url('flags/it.gif') 0 50% no-repeat;}
.lngpt { padding-left:18px; background:transparent url('flags/pt.gif') 0 50% no-repeat;}
.lngpl { padding-left:18px; background:transparent url('flags/pl.gif') 0 50% no-repeat;}
.lngcz { padding-left:18px; background:transparent url('flags/cz.gif') 0 50% no-repeat;}
.lngbr { padding-left:18px; background:transparent url('flags/br.gif') 0 50% no-repeat;}
.lnglt { padding-left:18px; background:transparent url('flags/lt.gif') 0 50% no-repeat;}
.lngar { padding-left:18px; background:transparent url('flags/ae.gif') 0 50% no-repeat;}
.lngfa { padding-left:18px; background:transparent url('flags/ir.gif') 0 50% no-repeat;}
.lnghu { padding-left:18px; background:transparent url('flags/hu.gif') 0 50% no-repeat;}
.lngnl { padding-left:18px; background:transparent url('flags/nl.gif') 0 50% no-repeat;}
.lngno { padding-left:18px; background:transparent url('flags/no.gif') 0 50% no-repeat;}
.lnggr { padding-left:18px; background:transparent url('flags/gr.gif') 0 50% no-repeat;}
.lngil { padding-left:18px; background:transparent url('flags/il.gif') 0 50% no-repeat;}
.lngse { padding-left:18px; background:transparent url('flags/se.gif') 0 50% no-repeat;}
.lngjp { padding-left:18px; background:transparent url('flags/jp.gif') 0 50% no-repeat;}
.lnghr { padding-left:18px; background:transparent url('flags/hr.gif') 0 50% no-repeat;}
.lngru { padding-left:18px; background:transparent url('flags/ru.gif') 0 50% no-repeat;}
.lngkr { padding-left:18px; background:transparent url('flags/kr.gif') 0 50% no-repeat;}
.lngmy { padding-left:18px; background:transparent url('flags/my.gif') 0 50% no-repeat;}
.lngid { padding-left:18px; background:transparent url('flags/id.gif') 0 50% no-repeat;}
.lngzh { padding-left:18px; background:transparent url('flags/cn.gif') 0 50% no-repeat;}
.lngvi { padding-left:18px; background:transparent url('flags/vn.gif') 0 50% no-repeat;}
.lngtl { padding-left:18px; background:transparent url('flags/ph.gif') 0 50% no-repeat;}
.lngth { padding-left:18px; background:transparent url('flags/th.gif') 0 50% no-repeat;}
.lngsi { padding-left:18px; background:transparent url('flags/si.gif') 0 50% no-repeat;}
.lngmk { padding-left:18px; background:transparent url('flags/mk.gif') 0 50% no-repeat;}

.lngint, .ccint{ padding-left:18px; background:transparent url('flags/gb.gif') 0 50% no-repeat;}

.ccac { padding-left:18px; background:transparent url('flags/ac.gif') 0 50% no-repeat;}
.ccad { padding-left:18px; background:transparent url('flags/ad.gif') 0 50% no-repeat;}
.ccae { padding-left:18px; background:transparent url('flags/ae.gif') 0 50% no-repeat;}
.ccaf { padding-left:18px; background:transparent url('flags/af.gif') 0 50% no-repeat;}
.ccag { padding-left:18px; background:transparent url('flags/ag.gif') 0 50% no-repeat;}
.ccai { padding-left:18px; background:transparent url('flags/ai.gif') 0 50% no-repeat;}
.ccal { padding-left:18px; background:transparent url('flags/al.gif') 0 50% no-repeat;}
.ccam { padding-left:18px; background:transparent url('flags/am.gif') 0 50% no-repeat;}
.ccan { padding-left:18px; background:transparent url('flags/an.gif') 0 50% no-repeat;}
.ccao { padding-left:18px; background:transparent url('flags/ao.gif') 0 50% no-repeat;}
.ccaq { padding-left:18px; background:transparent url('flags/aq.gif') 0 50% no-repeat;}
.ccar { padding-left:18px; background:transparent url('flags/ar.gif') 0 50% no-repeat;}
.ccas { padding-left:18px; background:transparent url('flags/as.gif') 0 50% no-repeat;}
.ccat { padding-left:18px; background:transparent url('flags/at.gif') 0 50% no-repeat;}
.ccau { padding-left:18px; background:transparent url('flags/au.gif') 0 50% no-repeat;}
.ccaw { padding-left:18px; background:transparent url('flags/aw.gif') 0 50% no-repeat;}
.ccax { padding-left:18px; background:transparent url('flags/ax.gif') 0 50% no-repeat;}
.ccaz { padding-left:18px; background:transparent url('flags/az.gif') 0 50% no-repeat;}
.ccba { padding-left:18px; background:transparent url('flags/ba.gif') 0 50% no-repeat;}
.ccbb { padding-left:18px; background:transparent url('flags/bb.gif') 0 50% no-repeat;}
.ccbd { padding-left:18px; background:transparent url('flags/bd.gif') 0 50% no-repeat;}
.ccbe { padding-left:18px; background:transparent url('flags/be.gif') 0 50% no-repeat;}
.ccbf { padding-left:18px; background:transparent url('flags/bf.gif') 0 50% no-repeat;}
.ccbg { padding-left:18px; background:transparent url('flags/bg.gif') 0 50% no-repeat;}
.cc-- { padding-left:18px; background:transparent url('flags/bg.gif') 0 50% no-repeat;}
.ccbh { padding-left:18px; background:transparent url('flags/bh.gif') 0 50% no-repeat;}
.ccbi { padding-left:18px; background:transparent url('flags/bi.gif') 0 50% no-repeat;}
.ccbj { padding-left:18px; background:transparent url('flags/bj.gif') 0 50% no-repeat;}
.ccbm { padding-left:18px; background:transparent url('flags/bm.gif') 0 50% no-repeat;}
.ccbn { padding-left:18px; background:transparent url('flags/bn.gif') 0 50% no-repeat;}
.ccbo { padding-left:18px; background:transparent url('flags/bo.gif') 0 50% no-repeat;}
.ccbr { padding-left:18px; background:transparent url('flags/br.gif') 0 50% no-repeat;}
.ccbs { padding-left:18px; background:transparent url('flags/bs.gif') 0 50% no-repeat;}
.ccbt { padding-left:18px; background:transparent url('flags/bt.gif') 0 50% no-repeat;}
.ccbv { padding-left:18px; background:transparent url('flags/bv.gif') 0 50% no-repeat;}
.ccbw { padding-left:18px; background:transparent url('flags/bw.gif') 0 50% no-repeat;}
.ccby { padding-left:18px; background:transparent url('flags/by.gif') 0 50% no-repeat;}
.ccbz { padding-left:18px; background:transparent url('flags/bz.gif') 0 50% no-repeat;}
.ccca { padding-left:18px; background:transparent url('flags/ca.gif') 0 50% no-repeat;}
.cccc { padding-left:18px; background:transparent url('flags/cc.gif') 0 50% no-repeat;}
.cccd { padding-left:18px; background:transparent url('flags/cd.gif') 0 50% no-repeat;}
.cccf { padding-left:18px; background:transparent url('flags/cf.gif') 0 50% no-repeat;}
.cccg { padding-left:18px; background:transparent url('flags/cg.gif') 0 50% no-repeat;}
.ccch { padding-left:18px; background:transparent url('flags/ch.gif') 0 50% no-repeat;}
.ccci { padding-left:18px; background:transparent url('flags/ci.gif') 0 50% no-repeat;}
.ccck { padding-left:18px; background:transparent url('flags/ck.gif') 0 50% no-repeat;}
.cccl { padding-left:18px; background:transparent url('flags/cl.gif') 0 50% no-repeat;}
.cccm { padding-left:18px; background:transparent url('flags/cm.gif') 0 50% no-repeat;}
.cccn { padding-left:18px; background:transparent url('flags/cn.gif') 0 50% no-repeat;}
.ccco { padding-left:18px; background:transparent url('flags/co.gif') 0 50% no-repeat;}
.cccr { padding-left:18px; background:transparent url('flags/cr.gif') 0 50% no-repeat;}
.cccs { padding-left:18px; background:transparent url('flags/cs.gif') 0 50% no-repeat;}
.cccu { padding-left:18px; background:transparent url('flags/cu.gif') 0 50% no-repeat;}
.cccv { padding-left:18px; background:transparent url('flags/cv.gif') 0 50% no-repeat;}
.cccx { padding-left:18px; background:transparent url('flags/cx.gif') 0 50% no-repeat;}
.cccy { padding-left:18px; background:transparent url('flags/cy.gif') 0 50% no-repeat;}
.cccz { padding-left:18px; background:transparent url('flags/cz.gif') 0 50% no-repeat;}
.ccde { padding-left:18px; background:transparent url('flags/de.gif') 0 50% no-repeat;}
.ccdj { padding-left:18px; background:transparent url('flags/dj.gif') 0 50% no-repeat;}
.ccdk { padding-left:18px; background:transparent url('flags/dk.gif') 0 50% no-repeat;}
.ccdm { padding-left:18px; background:transparent url('flags/dm.gif') 0 50% no-repeat;}
.ccdo { padding-left:18px; background:transparent url('flags/do.gif') 0 50% no-repeat;}
.ccdz { padding-left:18px; background:transparent url('flags/dz.gif') 0 50% no-repeat;}
.ccec { padding-left:18px; background:transparent url('flags/ec.gif') 0 50% no-repeat;}
.ccee { padding-left:18px; background:transparent url('flags/ee.gif') 0 50% no-repeat;}
.cceg { padding-left:18px; background:transparent url('flags/eg.gif') 0 50% no-repeat;}
.cceh { padding-left:18px; background:transparent url('flags/eh.gif') 0 50% no-repeat;}
.ccen { padding-left:18px; background:transparent url('flags/gb.gif') 0 50% no-repeat;}
.ccer { padding-left:18px; background:transparent url('flags/er.gif') 0 50% no-repeat;}
.cces { padding-left:18px; background:transparent url('flags/es.gif') 0 50% no-repeat;}
.ccet { padding-left:18px; background:transparent url('flags/et.gif') 0 50% no-repeat;}
.cceu { padding-left:18px; background:transparent url('flags/eu.gif') 0 50% no-repeat;}
.ccfi { padding-left:18px; background:transparent url('flags/fi.gif') 0 50% no-repeat;}
.ccfj { padding-left:18px; background:transparent url('flags/fj.gif') 0 50% no-repeat;}
.ccfk { padding-left:18px; background:transparent url('flags/fk.gif') 0 50% no-repeat;}
.ccfm { padding-left:18px; background:transparent url('flags/fm.gif') 0 50% no-repeat;}
.ccfo { padding-left:18px; background:transparent url('flags/fo.gif') 0 50% no-repeat;}
.ccfr { padding-left:18px; background:transparent url('flags/fr.gif') 0 50% no-repeat;}
.ccga { padding-left:18px; background:transparent url('flags/ga.gif') 0 50% no-repeat;}
.ccgb { padding-left:18px; background:transparent url('flags/gb.gif') 0 50% no-repeat;}
.ccgd { padding-left:18px; background:transparent url('flags/gd.gif') 0 50% no-repeat;}
.ccge { padding-left:18px; background:transparent url('flags/ge.gif') 0 50% no-repeat;}
.ccgf { padding-left:18px; background:transparent url('flags/gf.gif') 0 50% no-repeat;}
.ccgg { padding-left:18px; background:transparent url('flags/gg.gif') 0 50% no-repeat;}
.ccgh { padding-left:18px; background:transparent url('flags/gh.gif') 0 50% no-repeat;}
.ccgi { padding-left:18px; background:transparent url('flags/gi.gif') 0 50% no-repeat;}
.ccgl { padding-left:18px; background:transparent url('flags/gl.gif') 0 50% no-repeat;}
.ccgm { padding-left:18px; background:transparent url('flags/gm.gif') 0 50% no-repeat;}
.ccgn { padding-left:18px; background:transparent url('flags/gn.gif') 0 50% no-repeat;}
.ccgp { padding-left:18px; background:transparent url('flags/gp.gif') 0 50% no-repeat;}
.ccgq { padding-left:18px; background:transparent url('flags/gq.gif') 0 50% no-repeat;}
.ccgr { padding-left:18px; background:transparent url('flags/gr.gif') 0 50% no-repeat;}
.ccgs { padding-left:18px; background:transparent url('flags/gs.gif') 0 50% no-repeat;}
.ccgt { padding-left:18px; background:transparent url('flags/gt.gif') 0 50% no-repeat;}
.ccgu { padding-left:18px; background:transparent url('flags/gu.gif') 0 50% no-repeat;}
.ccgw { padding-left:18px; background:transparent url('flags/gw.gif') 0 50% no-repeat;}
.ccgy { padding-left:18px; background:transparent url('flags/gy.gif') 0 50% no-repeat;}
.cchk { padding-left:18px; background:transparent url('flags/hk.gif') 0 50% no-repeat;}
.cchm { padding-left:18px; background:transparent url('flags/hm.gif') 0 50% no-repeat;}
.cchn { padding-left:18px; background:transparent url('flags/hn.gif') 0 50% no-repeat;}
.cchr { padding-left:18px; background:transparent url('flags/hr.gif') 0 50% no-repeat;}
.ccht { padding-left:18px; background:transparent url('flags/ht.gif') 0 50% no-repeat;}
.cchu { padding-left:18px; background:transparent url('flags/hu.gif') 0 50% no-repeat;}
.ccid { padding-left:18px; background:transparent url('flags/id.gif') 0 50% no-repeat;}
.ccie { padding-left:18px; background:transparent url('flags/ie.gif') 0 50% no-repeat;}
.ccil { padding-left:18px; background:transparent url('flags/il.gif') 0 50% no-repeat;}
.ccim { padding-left:18px; background:transparent url('flags/im.gif') 0 50% no-repeat;}
.ccin { padding-left:18px; background:transparent url('flags/in.gif') 0 50% no-repeat;}
.ccio { padding-left:18px; background:transparent url('flags/io.gif') 0 50% no-repeat;}
.cciq { padding-left:18px; background:transparent url('flags/iq.gif') 0 50% no-repeat;}
.ccir { padding-left:18px; background:transparent url('flags/ir.gif') 0 50% no-repeat;}
.ccis { padding-left:18px; background:transparent url('flags/is.gif') 0 50% no-repeat;}
.ccit { padding-left:18px; background:transparent url('flags/it.gif') 0 50% no-repeat;}
.ccje { padding-left:18px; background:transparent url('flags/je.gif') 0 50% no-repeat;}
.ccjm { padding-left:18px; background:transparent url('flags/jm.gif') 0 50% no-repeat;}
.ccjo { padding-left:18px; background:transparent url('flags/jo.gif') 0 50% no-repeat;}
.ccjp { padding-left:18px; background:transparent url('flags/jp.gif') 0 50% no-repeat;}
.ccke { padding-left:18px; background:transparent url('flags/ke.gif') 0 50% no-repeat;}
.cckg { padding-left:18px; background:transparent url('flags/kg.gif') 0 50% no-repeat;}
.cckh { padding-left:18px; background:transparent url('flags/kh.gif') 0 50% no-repeat;}
.ccki { padding-left:18px; background:transparent url('flags/ki.gif') 0 50% no-repeat;}
.cckm { padding-left:18px; background:transparent url('flags/km.gif') 0 50% no-repeat;}
.cckn { padding-left:18px; background:transparent url('flags/kn.gif') 0 50% no-repeat;}
.cckp { padding-left:18px; background:transparent url('flags/kp.gif') 0 50% no-repeat;}
.cckr { padding-left:18px; background:transparent url('flags/kr.gif') 0 50% no-repeat;}
.cckw { padding-left:18px; background:transparent url('flags/kw.gif') 0 50% no-repeat;}
.ccky { padding-left:18px; background:transparent url('flags/ky.gif') 0 50% no-repeat;}
.cckz { padding-left:18px; background:transparent url('flags/kz.gif') 0 50% no-repeat;}
.ccla { padding-left:18px; background:transparent url('flags/la.gif') 0 50% no-repeat;}
.cclb { padding-left:18px; background:transparent url('flags/lb.gif') 0 50% no-repeat;}
.cclc { padding-left:18px; background:transparent url('flags/lc.gif') 0 50% no-repeat;}
.ccli { padding-left:18px; background:transparent url('flags/li.gif') 0 50% no-repeat;}
.cclk { padding-left:18px; background:transparent url('flags/lk.gif') 0 50% no-repeat;}
.cclr { padding-left:18px; background:transparent url('flags/lr.gif') 0 50% no-repeat;}
.ccls { padding-left:18px; background:transparent url('flags/ls.gif') 0 50% no-repeat;}
.cclt { padding-left:18px; background:transparent url('flags/lt.gif') 0 50% no-repeat;}
.cclu { padding-left:18px; background:transparent url('flags/lu.gif') 0 50% no-repeat;}
.cclv { padding-left:18px; background:transparent url('flags/lv.gif') 0 50% no-repeat;}
.ccly { padding-left:18px; background:transparent url('flags/ly.gif') 0 50% no-repeat;}
.ccma { padding-left:18px; background:transparent url('flags/ma.gif') 0 50% no-repeat;}
.ccmc { padding-left:18px; background:transparent url('flags/mc.gif') 0 50% no-repeat;}
.ccmd { padding-left:18px; background:transparent url('flags/md.gif') 0 50% no-repeat;}
.ccme { padding-left:18px; background:transparent url('flags/me.gif') 0 50% no-repeat;}
.ccmg { padding-left:18px; background:transparent url('flags/mg.gif') 0 50% no-repeat;}
.ccmh { padding-left:18px; background:transparent url('flags/mh.gif') 0 50% no-repeat;}
.ccmk { padding-left:18px; background:transparent url('flags/mk.gif') 0 50% no-repeat;}
.ccml { padding-left:18px; background:transparent url('flags/ml.gif') 0 50% no-repeat;}
.ccmm { padding-left:18px; background:transparent url('flags/mm.gif') 0 50% no-repeat;}
.ccmn { padding-left:18px; background:transparent url('flags/mn.gif') 0 50% no-repeat;}
.ccmo { padding-left:18px; background:transparent url('flags/mo.gif') 0 50% no-repeat;}
.ccmp { padding-left:18px; background:transparent url('flags/mp.gif') 0 50% no-repeat;}
.ccmq { padding-left:18px; background:transparent url('flags/mq.gif') 0 50% no-repeat;}
.ccmr { padding-left:18px; background:transparent url('flags/mr.gif') 0 50% no-repeat;}
.ccms { padding-left:18px; background:transparent url('flags/ms.gif') 0 50% no-repeat;}
.ccmt { padding-left:18px; background:transparent url('flags/mt.gif') 0 50% no-repeat;}
.ccmu { padding-left:18px; background:transparent url('flags/mu.gif') 0 50% no-repeat;}
.ccmv { padding-left:18px; background:transparent url('flags/mv.gif') 0 50% no-repeat;}
.ccmw { padding-left:18px; background:transparent url('flags/mw.gif') 0 50% no-repeat;}
.ccmx { padding-left:18px; background:transparent url('flags/mx.gif') 0 50% no-repeat;}
.ccmy { padding-left:18px; background:transparent url('flags/my.gif') 0 50% no-repeat;}
.ccmz { padding-left:18px; background:transparent url('flags/mz.gif') 0 50% no-repeat;}
.ccna { padding-left:18px; background:transparent url('flags/na.gif') 0 50% no-repeat;}
.ccnc { padding-left:18px; background:transparent url('flags/nc.gif') 0 50% no-repeat;}
.ccne { padding-left:18px; background:transparent url('flags/ne.gif') 0 50% no-repeat;}
.ccnf { padding-left:18px; background:transparent url('flags/nf.gif') 0 50% no-repeat;}
.ccng { padding-left:18px; background:transparent url('flags/ng.gif') 0 50% no-repeat;}
.ccni { padding-left:18px; background:transparent url('flags/ni.gif') 0 50% no-repeat;}
.ccnl { padding-left:18px; background:transparent url('flags/nl.gif') 0 50% no-repeat;}
.ccno { padding-left:18px; background:transparent url('flags/no.gif') 0 50% no-repeat;}
.ccnp { padding-left:18px; background:transparent url('flags/np.gif') 0 50% no-repeat;}
.ccnr { padding-left:18px; background:transparent url('flags/nr.gif') 0 50% no-repeat;}
.ccnu { padding-left:18px; background:transparent url('flags/nu.gif') 0 50% no-repeat;}
.ccnz { padding-left:18px; background:transparent url('flags/nz.gif') 0 50% no-repeat;}
.ccom { padding-left:18px; background:transparent url('flags/om.gif') 0 50% no-repeat;}
.ccpa { padding-left:18px; background:transparent url('flags/pa.gif') 0 50% no-repeat;}
.ccpe { padding-left:18px; background:transparent url('flags/pe.gif') 0 50% no-repeat;}
.ccpf { padding-left:18px; background:transparent url('flags/pf.gif') 0 50% no-repeat;}
.ccpg { padding-left:18px; background:transparent url('flags/pg.gif') 0 50% no-repeat;}
.ccph { padding-left:18px; background:transparent url('flags/ph.gif') 0 50% no-repeat;}
.ccpk { padding-left:18px; background:transparent url('flags/pk.gif') 0 50% no-repeat;}
.ccpl { padding-left:18px; background:transparent url('flags/pl.gif') 0 50% no-repeat;}
.cccz { padding-left:18px; background:transparent url('flags/cz.gif') 0 50% no-repeat;}
.ccpm { padding-left:18px; background:transparent url('flags/pm.gif') 0 50% no-repeat;}
.ccpn { padding-left:18px; background:transparent url('flags/pn.gif') 0 50% no-repeat;}
.ccpr { padding-left:18px; background:transparent url('flags/pr.gif') 0 50% no-repeat;}
.ccps { padding-left:18px; background:transparent url('flags/ps.gif') 0 50% no-repeat;}
.ccpt { padding-left:18px; background:transparent url('flags/pt.gif') 0 50% no-repeat;}
.ccpw { padding-left:18px; background:transparent url('flags/pw.gif') 0 50% no-repeat;}
.ccpy { padding-left:18px; background:transparent url('flags/py.gif') 0 50% no-repeat;}
.ccqa { padding-left:18px; background:transparent url('flags/qa.gif') 0 50% no-repeat;}
.ccre { padding-left:18px; background:transparent url('flags/re.gif') 0 50% no-repeat;}
.ccro { padding-left:18px; background:transparent url('flags/ro.gif') 0 50% no-repeat;}
.ccrs { padding-left:18px; background:transparent url('flags/rs.gif') 0 50% no-repeat;}
.ccru { padding-left:18px; background:transparent url('flags/ru.gif') 0 50% no-repeat;}
.ccrw { padding-left:18px; background:transparent url('flags/rw.gif') 0 50% no-repeat;}
.ccsa { padding-left:18px; background:transparent url('flags/sa.gif') 0 50% no-repeat;}
.ccsb { padding-left:18px; background:transparent url('flags/sb.gif') 0 50% no-repeat;}
.ccsc { padding-left:18px; background:transparent url('flags/sc.gif') 0 50% no-repeat;}
.ccsd { padding-left:18px; background:transparent url('flags/sd.gif') 0 50% no-repeat;}
.ccse { padding-left:18px; background:transparent url('flags/se.gif') 0 50% no-repeat;}
.ccsg { padding-left:18px; background:transparent url('flags/sg.gif') 0 50% no-repeat;}
.ccsh { padding-left:18px; background:transparent url('flags/sh.gif') 0 50% no-repeat;}
.ccsi { padding-left:18px; background:transparent url('flags/si.gif') 0 50% no-repeat;}
.ccsj { padding-left:18px; background:transparent url('flags/sj.gif') 0 50% no-repeat;}
.ccsk { padding-left:18px; background:transparent url('flags/sk.gif') 0 50% no-repeat;}
.ccsl { padding-left:18px; background:transparent url('flags/sl.gif') 0 50% no-repeat;}
.ccsm { padding-left:18px; background:transparent url('flags/sm.gif') 0 50% no-repeat;}
.ccsn { padding-left:18px; background:transparent url('flags/sn.gif') 0 50% no-repeat;}
.ccso { padding-left:18px; background:transparent url('flags/so.gif') 0 50% no-repeat;}
.ccsr { padding-left:18px; background:transparent url('flags/sr.gif') 0 50% no-repeat;}
.ccst { padding-left:18px; background:transparent url('flags/st.gif') 0 50% no-repeat;}
.ccsu { padding-left:18px; background:transparent url('flags/su.gif') 0 50% no-repeat;}
.ccsv { padding-left:18px; background:transparent url('flags/sv.gif') 0 50% no-repeat;}
.ccsy { padding-left:18px; background:transparent url('flags/sy.gif') 0 50% no-repeat;}
.ccsz { padding-left:18px; background:transparent url('flags/sz.gif') 0 50% no-repeat;}
.cctc { padding-left:18px; background:transparent url('flags/tc.gif') 0 50% no-repeat;}
.cctd { padding-left:18px; background:transparent url('flags/td.gif') 0 50% no-repeat;}
.cctf { padding-left:18px; background:transparent url('flags/tf.gif') 0 50% no-repeat;}
.cctg { padding-left:18px; background:transparent url('flags/tg.gif') 0 50% no-repeat;}
.ccth { padding-left:18px; background:transparent url('flags/th.gif') 0 50% no-repeat;}
.cctj { padding-left:18px; background:transparent url('flags/tj.gif') 0 50% no-repeat;}
.cctk { padding-left:18px; background:transparent url('flags/tk.gif') 0 50% no-repeat;}
.cctl { padding-left:18px; background:transparent url('flags/tl.gif') 0 50% no-repeat;}
.cctm { padding-left:18px; background:transparent url('flags/tm.gif') 0 50% no-repeat;}
.cctn { padding-left:18px; background:transparent url('flags/tn.gif') 0 50% no-repeat;}
.ccto { padding-left:18px; background:transparent url('flags/to.gif') 0 50% no-repeat;}
.cctp { padding-left:18px; background:transparent url('flags/tp.gif') 0 50% no-repeat;}
.cctr { padding-left:18px; background:transparent url('flags/tr.gif') 0 50% no-repeat;}
.cctt { padding-left:18px; background:transparent url('flags/tt.gif') 0 50% no-repeat;}
.cctv { padding-left:18px; background:transparent url('flags/tv.gif') 0 50% no-repeat;}
.cctw { padding-left:18px; background:transparent url('flags/tw.gif') 0 50% no-repeat;}
.cctz { padding-left:18px; background:transparent url('flags/tz.gif') 0 50% no-repeat;}
.ccua { padding-left:18px; background:transparent url('flags/ua.gif') 0 50% no-repeat;}
.ccug { padding-left:18px; background:transparent url('flags/ug.gif') 0 50% no-repeat;}
.ccuk { padding-left:18px; background:transparent url('flags/gb.gif') 0 50% no-repeat;}
.ccum { padding-left:18px; background:transparent url('flags/um.gif') 0 50% no-repeat;}
.ccus { padding-left:18px; background:transparent url('flags/us.gif') 0 50% no-repeat;}
.ccuy { padding-left:18px; background:transparent url('flags/uy.gif') 0 50% no-repeat;}
.ccuz { padding-left:18px; background:transparent url('flags/uz.gif') 0 50% no-repeat;}
.ccva { padding-left:18px; background:transparent url('flags/va.gif') 0 50% no-repeat;}
.ccvc { padding-left:18px; background:transparent url('flags/vc.gif') 0 50% no-repeat;}
.ccve { padding-left:18px; background:transparent url('flags/ve.gif') 0 50% no-repeat;}
.ccvg { padding-left:18px; background:transparent url('flags/vg.gif') 0 50% no-repeat;}
.ccvi { padding-left:18px; background:transparent url('flags/vi.gif') 0 50% no-repeat;}
.ccvn { padding-left:18px; background:transparent url('flags/vn.gif') 0 50% no-repeat;}
.ccvu { padding-left:18px; background:transparent url('flags/vu.gif') 0 50% no-repeat;}
.ccwf { padding-left:18px; background:transparent url('flags/wf.gif') 0 50% no-repeat;}
.ccws { padding-left:18px; background:transparent url('flags/ws.gif') 0 50% no-repeat;}
.ccye { padding-left:18px; background:transparent url('flags/ye.gif') 0 50% no-repeat;}
.ccyt { padding-left:18px; background:transparent url('flags/yt.gif') 0 50% no-repeat;}
.ccyu { padding-left:18px; background:transparent url('flags/yu.gif') 0 50% no-repeat;}
.ccza { padding-left:18px; background:transparent url('flags/za.gif') 0 50% no-repeat;}
.cczm { padding-left:18px; background:transparent url('flags/zm.gif') 0 50% no-repeat;}
.cczw { padding-left:18px; background:transparent url('flags/zw.gif') 0 50% no-repeat;}
.ccrs { padding-left:18px; background:transparent url('flags/rs.gif') 0 50% no-repeat;}

/* world / lang specific */
body.lang-ar .ccil, 
body.world-ar .ccil,
body.lang-fa .ccil, 
body.world-fa .ccil { 
	padding-left:18px; 
	background:transparent url('flags/ps.gif') 0 50% no-repeat !important;
}